body {
  font-color: white;
  font-size: 22px;
  text-align: center;
}

body.yes {
  background-color: #2ECC40;
}

body.no {
  background-color: #FF4136;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 11em;
}
